<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.incorps.inapps">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InApps">
        <activity android:name=".KritikSaranActivity"></activity>
        <activity android:name=".OrderDetailInstall" />
        <activity android:name=".OrderDetailCetak" />
        <activity android:name=".OrderDetailDesain" />
        <activity android:name=".OrderDetailRental" />
        <activity
            android:name=".productsactivity.desain.DesainKemasanActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".productsactivity.desain.PlakatActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".productsactivity.desain.SertifikatActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".productsactivity.desain.BlocknoteActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".productsactivity.desain.StikerActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".productsactivity.desain.CoCardActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".productsactivity.desain.PosterActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".productsactivity.desain.BannerActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".productsactivity.cetak.CoCardActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".productsactivity.cetak.PlakatKayuActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".productsactivity.cetak.BlocknoteActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".productsactivity.rental.ScreenProyektorActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".productsactivity.rental.PointerActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".productsactivity.rental.HandyTalkyActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".productsactivity.rental.ProyektorBawahTigaRibuActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".productsactivity.rental.ProyektorAtasTigaRibuActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".productsactivity.DesainActivity" />
        <activity android:name=".productsactivity.CetakActivity" />
        <activity android:name=".productsactivity.InstallActivity" />
        <activity android:name=".productsactivity.RentalActivity" />
        <activity android:name=".CheckoutActivity" />
        <activity android:name=".CartActivity" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".SignInAdvancedActivity" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity
            android:name=".SignUpActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SignInActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".IntroSliderActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>